/* Custom CSS for black theme */
body {
  color: #fff;
  margin: 0;
  padding: 0;
        background-image: url("https://cdn.discordapp.com/attachments/1319521766770610186/1321265232818995230/DBE88319-8BA4-4750-8D49-7F3A5512FABA.jpg?ex=676c9ba3&is=676b4a23&hm=a10e77b0c8072b3bf911cc726096b87f067cf5fa1622eb3bdd0a2d257db4fdf0&");
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: cover; 
}

#header {
  padding: 20px;
  text-align: center;
}

#header h1 {
  margin: 0;
  font-size: 24px;
  font-family: 'Arial', sans-serif;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header img {
  width: 20%;
  height: auto;
}

#content {
  text-align: center;
  padding: 20px;
  margin-top: -4%;
}

#content h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: 20px;
}

#searchbar {
  text-align: center;
  margin: 20px auto;
}

.form__input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  background-color: #222;
  text-align: center;
  color: #fff;
  cursor:cell;
}

a{
  text-decoration: none;
  color:white;
  width:50px;
  height:50px;
  padding-right: 1px;
  padding-left: 1px;
  text-align: center;
  align-self: center;
}

.form__input::placeholder {
  color: #aaa;
  text-align: center;
}

.form_input:hover{
  cursor:cell;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
